html {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT sans", sans-serif;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans.woff2") format("woff2"), url("/fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsansbold.woff2") format("woff2"), url("/fonts/ptsansbold.woff") format("woff");
}
.visually-hidden {
  visibility: hidden;
  font-size: 0;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
}

.description {
  text-transform: uppercase;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
}

.main-header--wrapper {
  position: relative;
}

.main-header__logo-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #81b3d2;
}
@media all and (min-width: 768px) {
  .site-list {
    display: flex;
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  display: flex;
}
@media all and (min-width: 768px) {
  .site-list__item {
    box-shadow: none;
    width: 19.92%;
    max-width: 240px;
  }
}
.site-list__item:first-child {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
@media all and (min-width: 768px) {
  .site-list__item:first-child {
    box-shadow: none;
  }
}
.site-list__item:last-child {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
@media all and (min-width: 768px) {
  .site-list__item:last-child {
    box-shadow: none;
  }
}

.site-list__item:hover {
  background-color: #669ec0;
}
@media all and (min-width: 768px) {
  .site-list__item:hover {
    background-color: transparent;
  }
}

@media all and (min-width: 768px) {
  .site-list__item:hover .site-list__link {
    color: #81b3d2;
  }
}
.site-list__item:active {
  background-color: #5496bd;
}
@media all and (min-width: 768px) {
  .site-list__item:active {
    background-color: transparent;
  }
}

.site-list__item:active .site-list__link {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}
@media all and (min-width: 768px) {
  .site-list__item:active .site-list__link {
    background-color: transparent;
  }
}

@media all and (min-width: 768px) {
  .site-list__item:active .site-list__link {
    color: rgba(0, 0, 0, 0.3);
  }
}
@media all and (min-width: 768px) {
  .site-list__item--current .site-list__link {
    color: #766357;
  }
}
@media all and (min-width: 768px) {
  .site-list__item:nth-child(2) {
    margin-right: 19.92%;
  }
}
.site-list__link {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 21px 0 14px 0;
}
@media all and (min-width: 768px) {
  .site-list__link {
    color: #000000;
    padding: 0;
  }
}

.entry-section {
  background: url("../img/entry-section-background-mobile.jpg") no-repeat center/cover;
  background-color: #000000;
}
@media all and (min-width: 768px) {
  .entry-section {
    background: url("../img/entry-section-background-tablet.jpg") no-repeat center/cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .entry-section {
    background: url("../img/entry-section-background-tablet@2x.jpg") no-repeat center/cover;
  }
}
@media all and (min-width: 1200px) {
  .entry-section {
    background: url("../img/entry-section-background-desktop.jpg") no-repeat center/cover;
  }
}

.entry-section--wrapper {
  text-align: center;
  position: relative;
}
.entry-section--wrapper::before {
  content: "";
  position: absolute;
  width: 50%;
  left: -1px;
  bottom: -1px;
  height: 26px;
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
          clip-path: polygon(0 0, 0 100%, 100% 100%);
}
.entry-section--wrapper::after {
  content: "";
  position: absolute;
  width: 50%;
  right: -1px;
  bottom: -1px;
  height: 26px;
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
          clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

@media all and (min-width: 768px) {
  .entry-section--wrapper::before {
    height: 57px;
    -webkit-clip-path: polygon(8.85% 46%, 8.85% 0, 100% 100%, 0 100%, 0 36%);
            clip-path: polygon(8.85% 46%, 8.85% 0, 100% 100%, 0 100%, 0 36%);
  }

  .entry-section--wrapper::after {
    height: 57px;
    -webkit-clip-path: polygon(91.15% 46%, 91.15% 0, 0 100%, 100% 100%, 100% 36%);
            clip-path: polygon(91.15% 46%, 91.15% 0, 0 100%, 100% 100%, 100% 36%);
  }
}
@media all and (min-width: 1200px) {
  .entry-section--wrapper::before {
    -webkit-clip-path: polygon(41.7% 46%, 41.7% 0, 100% 100%, 0 100%, 0 10%);
            clip-path: polygon(41.7% 46%, 41.7% 0, 100% 100%, 0 100%, 0 10%);
  }

  .entry-section--wrapper::after {
    -webkit-clip-path: polygon(58.3% 46%, 58.3% 0, 0 100%, 100% 100%, 100% 10%);
            clip-path: polygon(58.3% 46%, 58.3% 0, 0 100%, 100% 100%, 100% 10%);
  }
}
.entry-section--wrapper-main-page {
  padding: 90px 0 85px 0;
}
@media all and (min-width: 768px) {
  .entry-section--wrapper-main-page {
    padding: 77px 0 91.03px 0;
  }
}

.entry-section--wrapper-inner-page {
  padding: 52px 0 67px 0;
}
@media all and (min-width: 768px) {
  .entry-section--wrapper-inner-page {
    padding: 95px 0 117.4px;
  }
}

@media all and (min-width: 768px) {
  .entry-section__img-full {
    width: 461px;
    height: 350px;
  }

  .entry-section__img-short {
    width: 460px;
    height: 78px;
  }
}
.about {
  background-color: #ffffff;
}

.about--wrapper {
  padding: 32px 24px 52px 24px;
  text-align: center;
}

.about__title {
  font-size: 18px;
  color: #000000;
  max-width: 500px;
  margin: 0 auto 35px;
}
@media all and (min-width: 768px) {
  .about__title {
    font-size: 21px;
  }
}

.about__description {
  font-weight: 400;
  color: #333333;
}
.about__description--fix-width {
  max-width: 446px;
  margin: 0 auto;
}

.attractions {
  background-color: #eeeeee;
}
@media all and (min-width: 768px) {
  .attractions {
    display: flex;
  }
}

.attractions__item {
  padding: 35px 15px;
}

.about + .attractions .attractions__item {
  position: relative;
}
.about + .attractions .attractions__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #ffffff;
  top: -1px;
  left: 0;
  -webkit-clip-path: polygon(100% 0, 50% 100%, 0 0);
          clip-path: polygon(100% 0, 50% 100%, 0 0);
}
@media all and (min-width: 768px) {
  .about + .attractions .attractions__item::before {
    content: none;
  }
}

@media all and (min-width: 768px) {
  .attractions__item--order {
    order: 2;
  }
}
.attractions__picture-wrapper {
  width: 100%;
}
@media all and (min-width: 768px) {
  .attractions__picture-wrapper {
    width: 66.6%;
  }
}

.attractions__wrapper {
  width: 88.75%;
  max-width: 1064px;
  margin: 0 auto;
}
@media all and (min-width: 768px) {
  .attractions__wrapper {
    display: flex;
    padding: 42px 0;
  }
}

.attractions__wrapper .attractions__item {
  border-bottom: 1px solid #d6d6d6;
  justify-content: start;
}
.attractions__wrapper .attractions__item:last-child {
  border-bottom: none;
}
@media all and (min-width: 768px) {
  .attractions__wrapper .attractions__item {
    border-bottom: none;
  }
}

.attractions__wrapper .attraction__title {
  color: #000000;
}

.attractions__wrapper .attraction__description {
  color: #333333;
}

.attractions__wrapper .attraction__num {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.attractions__img {
  display: block;
  width: 100%;
  object-fit: cover;
}
@media all and (min-width: 768px) {
  .attractions__img {
    order: 1;
  }
}

.attraction__title {
  margin-bottom: 11px;
}
@media all and (min-width: 768px) {
  .attraction__title {
    font-size: 21px;
  }
}

.attraction {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.attraction--primary-color {
  background-color: #81b3d2;
}
.attraction--text-color-light {
  color: #ffffff;
}
@media all and (min-width: 768px) {
  .attraction {
    width: 33.3%;
    padding: 0 32px;
  }
}

.attraction__description {
  margin: 0 auto;
  max-width: 282px;
}

.attraction__num {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 17px;
  display: block;
  position: relative;
  min-width: 48px;
}
.attraction__num::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #ffffff;
  top: 50%;
  left: 0;
}
.attraction__num::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #ffffff;
  top: 50%;
  right: 0;
}

.attractions__wrapper .attraction__num::before,
.attractions__wrapper .attraction__num::after {
  background-color: #333333;
}

.feature {
  display: grid;
  grid-template-columns: 39px auto;
  grid-row-gap: 16px;
  grid-column-gap: 10px;
  justify-self: center;
  width: 282px;
}
@media all and (min-width: 768px) {
  .feature {
    grid-template-columns: 1fr;
    grid-template-rows: 80px min-content auto;
    text-align: center;
    justify-self: center;
    width: auto;
  }
}

.feature__icon {
  margin-left: auto;
}
@media all and (min-width: 768px) {
  .feature__icon {
    margin: 0;
    justify-self: center;
  }
}

@media all and (min-width: 768px) {
  .feature__icon-house {
    width: 75px;
    height: 72px;
  }

  .feature__icon-burger {
    width: 76px;
    height: 68px;
  }

  .feature__icon-gift {
    width: 64px;
    height: 75px;
  }
}
.feature__title {
  align-self: center;
  font-size: 18px;
  color: #000000;
}

.feature__description {
  font-size: 14px;
  color: #333333;
  grid-column: 2;
}
@media all and (min-width: 768px) {
  .feature__description {
    grid-column: 1;
  }
}

.main-nav {
  width: 100%;
  background-color: #ffffff;
  min-height: 56px;
}

.main-nav--wrapper {
  position: relative;
  top: 0;
}
@media all and (min-width: 768px) {
  .main-nav--wrapper {
    position: static;
    display: flex;
    align-items: center;
  }
}

.main-nav__list {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.main-nav__list::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
@media all and (min-width: 768px) {
  .main-nav__list::before {
    content: none;
  }
}
@media all and (min-width: 768px) {
  .main-nav__list {
    position: static;
  }
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  top: 17px;
  right: 20px;
  background-color: transparent;
  border: 0;
  height: 22px;
  width: 22.9px;
  cursor: pointer;
}
@media all and (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--closed + .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
.main-nav--closed + .main-nav__toggle::before:hover {
  background-color: rgba(129, 179, 210, 0.6);
  box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.6), 0 18px 0 0 rgba(129, 179, 210, 0.6);
}
.main-nav--closed + .main-nav__toggle::before:active {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.3), 0 18px 0 0 rgba(129, 179, 210, 0.3);
}

.main-nav--opened + .main-nav__toggle {
  width: 28px;
  height: 28px;
}

.main-nav--opened + .main-nav__toggle::before,
.main-nav--opened + .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 4px;
}

.main-nav--opened + .main-nav__toggle:hover::before,
.main-nav--opened + .main-nav__toggle:hover::after {
  background-color: rgba(255, 255, 255, 0.6);
}

.main-nav--opened + .main-nav__toggle:active::before,
.main-nav--opened + .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav--opened + .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav--opened + .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--nojs + .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  position: relative;
}

.features-section {
  background-color: #ffffff;
  padding: 23px 0 52px 0;
}
@media all and (min-width: 768px) {
  .features-section {
    padding: 60px 0;
  }
}

.features-section__wrapper {
  margin: 0 auto;
  width: 88.75%;
  max-width: 1064px;
}
@media all and (min-width: 768px) {
  .features-section__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
  }
}

.features-section__item {
  margin: 0 auto 22px;
}
.features-section__item:last-child {
  margin-bottom: 0;
}
@media all and (min-width: 768px) {
  .features-section__item {
    margin: 0;
  }
}

.sentence {
  background-color: #ffffff;
  text-align: center;
}
.sentence--wrapper {
  padding: 38px 18px 49px 18px;
}
@media all and (min-width: 768px) {
  .sentence--wrapper {
    padding: 61px 0 58px 0;
  }
}

.sentence br {
  display: none;
}
@media all and (min-width: 768px) {
  .sentence br {
    display: block;
  }
}

.sentence__title {
  font-size: 21px;
  display: block;
  margin-bottom: 22px;
  color: #000000;
}
@media all and (min-width: 768px) {
  .sentence__title {
    font-size: 30px;
    margin-bottom: 35px;
  }
}

.sentence__description {
  margin: 0 auto 32px;
  color: #333333;
  max-width: 435px;
}
@media all and (min-width: 768px) {
  .sentence__description {
    margin-bottom: 40px;
  }
}

.sentence__button {
  width: 88.65%;
  max-width: 458px;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  font-weight: 700;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  line-height: 26px;
  border: none;
  background-color: #81b3d2;
  color: #ffffff;
  cursor: pointer;
}
.button:hover {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button--disabled {
  background: #e5e5e5;
}

.map {
  width: 100%;
  height: 350px;
  display: block;
}

.socials {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials__item {
  width: 48px;
  height: 48px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  background-color: #81b3d2;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__item:hover {
  background-color: #669ec0;
}

.socials__item:active {
  background-color: #5496bd;
}

.socials__item:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-footer {
  background-color: #ffffff;
}

.main-footer__wrapper {
  padding-top: 28.5px;
  padding-bottom: 23px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 0;
    width: 84.38%;
    max-width: 960px;
    margin: 0 auto;
  }
}

.main-footer__title {
  font-size: 21px;
  margin-bottom: 34px;
  display: block;
  color: #000000;
}
@media all and (min-width: 768px) {
  .main-footer__title {
    margin-bottom: 0;
  }
}

.main-footer__socials {
  margin-bottom: 40px;
}
@media all and (min-width: 768px) {
  .main-footer__socials {
    margin-bottom: 0;
  }
}

.developed {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}
.developed:hover {
  color: #81b3d2;
}
.developed:active {
  color: #b3b3b3;
}

.developed__description {
  margin-right: 13px;
  text-transform: uppercase;
}

.developed__img {
  width: 24px;
  height: 29px;
}

.developed__img path {
  fill: #000000;
}

.developed:hover path {
  fill: #81b3d2;
}

.developed:active path {
  fill: #b3b3b3;
}

.gallery-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}
@media all and (min-width: 768px) {
  .gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 480px auto auto;
  }
}
@media all and (min-width: 1200px) {
  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px 267px;
  }
}

.gallery-list__item {
  padding: 24px 20px 25px 20px;
  border-top: 1px solid #e5e5e5;
  display: grid;
}
@media all and (min-width: 768px) {
  .gallery-list__item {
    border-top: none;
    padding: 0;
  }
}
.gallery-list__item:last-child {
  border-bottom: 1px solid #e5e5e5;
}
@media all and (min-width: 1200px) {
  .gallery-list__item {
    grid-template-rows: 267px 80px;
  }
}

@media all and (min-width: 768px) {
  .gallery-list__item:first-child {
    grid-column: 1/-1;
  }
}
@media all and (min-width: 1200px) {
  .gallery-list__item:first-child {
    grid-template-rows: 400px 80px;
  }
}

@media all and (min-width: 1200px) {
  .gallery-list__link-img {
    grid-row: 1;
    grid-column: 1/span 2;
  }
}
.gallery-list__link-img + .gallery-list__item-footer,
.gallery-list__item-footer + .gallery-list__link-img {
  margin-top: 15px;
}
@media all and (min-width: 768px) {
  .gallery-list__link-img + .gallery-list__item-footer,
.gallery-list__item-footer + .gallery-list__link-img {
    margin-top: 0;
  }
}

.gallery-list__img {
  width: 100%;
  display: block;
  object-fit: cover;
}
@media all and (min-width: 768px) {
  .gallery-list__img {
    height: 267px;
  }
}

@media all and (min-width: 768px) {
  .gallery-list__item:first-child .gallery-list__img {
    height: 400px;
  }
}
@media all and (min-width: 768px) {
  .gallery-list__item-footer {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 22px 20px 15px;
  }
}
@media all and (min-width: 1200px) {
  .gallery-list__item-footer {
    grid-row: 1;
    grid-column: 1/span 2;
    align-self: end;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@media all and (min-width: 768px) {
  .gallery-list__item:nth-child(3) .gallery-list__item-footer {
    background-color: #eaeaea;
  }
}
@media all and (min-width: 1200px) {
  .gallery-list__item:nth-child(3) .gallery-list__item-footer {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery-list__description {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  display: block;
}
@media all and (min-width: 1200px) {
  .gallery-list__description {
    color: #ffffff;
  }
}

.gallery-list__description + .gallery-list__author,
.gallery-list__author + .gallery-list__description {
  margin-top: 5px;
}

.gallery-list__author {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
@media all and (min-width: 768px) {
  .gallery-list__author {
    grid-column: 1;
    margin-bottom: 0;
  }
}
@media all and (min-width: 1200px) {
  .gallery-list__author {
    color: #ffffff;
  }
}

.gallery-list__author + .gallery-list__like-block,
.gallery-list__description + .gallery-list__like-block {
  margin-top: 11px;
}
@media all and (min-width: 768px) {
  .gallery-list__author + .gallery-list__like-block,
.gallery-list__description + .gallery-list__like-block {
    margin-bottom: 11px;
    margin-top: 0;
  }
}

.gallery-list__like-block + .gallery-list__description {
  margin-top: 5px;
}

.gallery-list__like-block {
  grid-column: 2;
  grid-row: 1/span 2;
}

.gallery-section--wrapper {
  margin: 0 auto;
  max-width: 648px;
}
@media all and (min-width: 1200px) {
  .gallery-section--wrapper {
    max-width: 100%;
  }
}

.like-block {
  display: flex;
}

.like-block__icon-svg {
  margin-right: 14px;
}

@media all and (min-width: 1200px) {
  .like-block__icon-svg path {
    fill: #ffffff;
    opacity: 1;
  }
}

.like-block__count {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
@media all and (min-width: 1200px) {
  .like-block__count {
    color: #ffffff;
  }
}

.video-presentation-section {
  background-color: #ffffff;
}

.video-presentation-section--wrapper {
  text-align: center;
  padding: 17px 20px 0;
}
@media all and (min-width: 768px) {
  .video-presentation-section--wrapper {
    padding: 57px 60px 40px;
  }
}

.video-presentation-section__title {
  margin-bottom: 35px;
  font-size: 18px;
  display: block;
}
@media all and (min-width: 768px) {
  .video-presentation-section__title {
    font-size: 30px;
  }
}

.video-presentation-section__description {
  margin: 0 auto 38px;
  width: 96.63%;
  max-width: 445px;
}
@media all and (min-width: 768px) {
  .video-presentation-section__description {
    margin-bottom: 86px;
  }
}

.video-presentation-section__video-preview {
  display: block;
  width: 100%;
  max-width: 800px;
  object-fit: cover;
  margin: 0 auto;
}
@media all and (min-width: 768px) {
  .video-presentation-section__video-preview {
    height: 500px;
  }
}

.form {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
}
@media all and (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 84.38%;
    max-width: 960px;
    border-top: none;
    margin: 0 auto;
  }
}

.form__title {
  text-align: center;
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
  color: #000000;
}
@media all and (min-width: 768px) {
  .form__title {
    grid-column: 1/-1;
    margin-bottom: 28px;
  }
}

.form__type-checkbox-group .form__title {
  width: 236px;
  margin: 0 auto 20px auto;
}
@media all and (min-width: 768px) {
  .form__type-checkbox-group .form__title {
    width: 276px;
    position: relative;
    display: inline-block;
    margin-bottom: 28px;
  }
  .form__type-checkbox-group .form__title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    top: 50%;
    left: -100%;
    margin-left: -65px;
  }
  .form__type-checkbox-group .form__title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    top: 50%;
    right: -100%;
    margin-right: -65px;
  }
}

.form__type-radio-group .form__title {
  margin-bottom: 20px;
  display: inline-block;
}
@media all and (min-width: 768px) {
  .form__type-radio-group .form__title {
    position: relative;
    width: 276px;
    margin-bottom: 28px;
  }
  .form__type-radio-group .form__title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    top: 50%;
    left: -100%;
    margin-left: -65px;
  }
  .form__type-radio-group .form__title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    top: 50%;
    right: -100%;
    margin-right: -65px;
  }
}

.form__label {
  margin-left: 16px;
}

.form__full-name-block .form__input,
.form__contacts-block .form__input,
.form__textarea {
  background: #f2f2f2;
  border: none;
  box-sizing: border-box;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.form__full-name-block .form__input::placeholder,
.form__contacts-block .form__input::placeholder,
.form__textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT sans", sans-serif;
}
.form__full-name-block .form__input:hover,
.form__contacts-block .form__input:hover,
.form__textarea:hover {
  background-color: #e5e5e5;
}
.form__full-name-block .form__input:focus,
.form__contacts-block .form__input:focus,
.form__textarea:focus {
  outline: none;
}
.form__full-name-block .form__input:active,
.form__contacts-block .form__input:active,
.form__textarea:active {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}

.form__input--radio,
.form__input--checkbox {
  display: none;
}

.form__input--radio + .form__label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: 15px solid #f2f2f2;
  vertical-align: middle;
  margin-right: 16px;
}

.form__input--radio:checked + .form__label::before {
  background-color: #333333;
  border: 15px solid #f2f2f2;
}

.form__input--radio + .form__label:hover::before {
  background-color: #e5e5e5;
  border: 15px solid #e5e5e5;
}

.form__input--radio:checked + .form__label:hover::before {
  background-color: #333333;
  border: 15px solid #e5e5e5;
}

.form__input--radio + .form__label:active::before {
  background-color: #d5d5d5;
  border: 15px solid #d5d5d5;
}

.form__input--radio:checked + .form__label:active::before {
  border: 15px solid #d5d5d5;
  background-color: rgba(51, 51, 51, 0.3);
}

.form__input--checkbox + .form__label::before {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  vertical-align: middle;
  margin-right: 16px;
}

.form__input--checkbox:checked + .form__label::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
}

.form__icon-wrapper {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 768px) {
  .form__type-radio-group,
.form__type-checkbox-group,
.form__type-area {
    grid-column: 1/-1;
  }
}
.form__type-radio-group,
.form__type-checkbox-group,
.form__full-name-block,
.form__contacts-block {
  border-top: 1px solid #e5e5e5;
}
@media all and (min-width: 768px) {
  .form__type-radio-group,
.form__type-checkbox-group,
.form__full-name-block,
.form__contacts-block {
    border-top: 0;
  }
}

.form__full-name-block {
  padding-bottom: 39px;
  padding-top: 24px;
}
@media all and (min-width: 768px) {
  .form__full-name-block {
    padding-bottom: 15px;
    padding-top: 0;
    margin-bottom: 24px;
  }
}
@media all and (min-width: 1200px) {
  .form__full-name-block {
    margin-bottom: 28px;
  }
}

@media all and (min-width: 768px) {
  .form__full-name-block .form__title {
    text-align: right;
    margin-right: 39px;
  }
}
@media all and (min-width: 1200px) {
  .form__full-name-block .form__title {
    margin-right: 103px;
  }
}
.form__full-name-block .form__item-wrapper {
  margin-bottom: 16px;
}
.form__full-name-block .form__item-wrapper:last-child {
  margin-bottom: 0;
}

.form__full-name-block .form__input {
  padding-left: 16px;
  height: 58px;
  width: 100%;
}

@media all and (min-width: 768px) {
  .form__full-name-block {
    padding-right: 43px;
    border-right: 1px solid #dbdbdb;
  }
}
@media all and (min-width: 1200px) {
  .form__full-name-block {
    padding-right: 63px;
  }
}
.form__contacts-block {
  padding: 24px 0 34px 0;
}
@media all and (min-width: 768px) {
  .form__contacts-block {
    padding: 0;
    overflow: auto;
  }
}

.form__full-name-block-container,
.form__contacts-block-container {
  width: 87.5%;
  margin: 0 auto;
}
@media all and (min-width: 768px) {
  .form__full-name-block-container,
.form__contacts-block-container {
    width: 100%;
    margin: 0;
  }
}

@media all and (min-width: 768px) {
  .form__contacts-block {
    padding-left: 26px;
  }
}
@media all and (min-width: 1200px) {
  .form__contacts-block {
    padding-left: 64px;
  }
}
@media all and (min-width: 768px) {
  .form__contacts-block .form__title {
    text-align: left;
  }
}
@media all and (min-width: 1200px) {
  .form__contacts-block .form__title {
    margin-left: 30px;
  }
}
.form__contacts-block .form__item-wrapper {
  display: grid;
  grid-template-columns: calc(100% - 58px) 58px;
  margin-bottom: 16px;
}
.form__contacts-block .form__item-wrapper:last-child {
  margin-bottom: 0;
}
@media all and (min-width: 768px) {
  .form__contacts-block .form__item-wrapper {
    margin-left: 18px;
  }
}
@media all and (min-width: 1200px) {
  .form__contacts-block .form__item-wrapper {
    margin-left: 0;
  }
}

.form__contacts-block .form__input {
  grid-column: 1;
  padding-left: 16px;
}

@media all and (min-width: 768px) {
  .form__type-radio-group + .form__title {
    margin: 0 auto;
    width: 308px;
  }
}
.form__full-name-block .form__label,
.form__contacts-block .form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.form__type-radio-group {
  padding: 24px 0 39px 0;
  text-align: center;
}
@media all and (min-width: 768px) {
  .form__type-radio-group {
    position: relative;
    overflow: hidden;
    padding: 24px 0;
  }
}
@media all and (min-width: 1200px) {
  .form__type-radio-group {
    padding: 28px 0;
  }
}

.form__type-radio-group .form__item-wrapper,
.form__type-checkbox-group .form__item-wrapper {
  display: flex;
  align-items: center;
}

.form__type-radio-group-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
  width: 87.5%;
  margin: 0 auto;
}
@media all and (min-width: 768px) {
  .form__type-radio-group-container {
    margin: 0 auto;
    width: 578px;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (min-width: 1200px) {
  .form__type-radio-group-container {
    width: 854px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.form__type-radio-group .form__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__type-checkbox-group {
  padding: 24px 0;
  overflow: hidden;
  text-align: center;
}
@media all and (min-width: 768px) {
  .form__type-checkbox-group {
    padding: 24px 0 21px 0;
  }
}
@media all and (min-width: 1200px) {
  .form__type-checkbox-group {
    padding: 28px 0;
  }
}

.form__type-checkbox-group-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
  width: 87.5%;
  margin: 0 auto;
}
@media all and (min-width: 768px) {
  .form__type-checkbox-group-container {
    width: 480px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (min-width: 1200px) {
  .form__type-checkbox-group-container {
    width: 871px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form__type-checkbox-group .form__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__type-area {
  padding: 24px 0;
  text-align: center;
  overflow: hidden;
}
@media all and (min-width: 768px) {
  .form__type-area {
    padding: 21px 0 64px 0;
  }
}
@media all and (min-width: 1200px) {
  .form__type-area {
    padding: 28px 0 64px 0;
  }
}

@media all and (min-width: 768px) {
  .form__type-area .form__title {
    position: relative;
    display: inline-block;
    width: 276px;
    margin-bottom: 28px;
  }
  .form__type-area .form__title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    top: 50%;
    left: -100%;
    margin-left: -65px;
  }
  .form__type-area .form__title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    top: 50%;
    right: -100%;
    margin-right: -65px;
  }
}
.form__type-area-container {
  text-align: center;
  padding-bottom: 0;
  width: 87.5%;
  margin: 0 auto;
}
@media all and (min-width: 768px) {
  .form__type-area-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
  }
}
@media all and (min-width: 1200px) {
  .form__type-area-container {
    width: 768px;
    margin: 0 auto;
  }
}

.form__textarea {
  background: #f2f2f2;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border: none;
  margin-bottom: 56px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.form__textarea::placeholder {
  font-family: "PT sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}
@media all and (min-width: 768px) {
  .form__textarea {
    grid-column: 1/-1;
  }
}

.form__button-submit {
  width: 100%;
}

.form__hint {
  font-family: "PT sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
  text-transform: uppercase;
}

.popup {
  box-sizing: border-box;
  text-align: center;
}
.popup--error {
  width: 320px;
  padding: 45px 0 35px 0;
}
.popup--sent {
  width: 320px;
  padding-top: 39px;
}

.popup__title {
  display: block;
  margin-bottom: 24px;
  font-size: 18px;
}
@media all and (min-width: 768px) {
  .popup__title {
    font-size: 30px;
  }
}

.popup__description {
  width: 210px;
  margin: 0 auto;
}

.popup__button-submit {
  margin: 0 auto;
}

.popup__footer {
  background: #f2f2f2;
  padding: 20px;
}
@media all and (min-width: 768px) {
  .popup__footer {
    padding: 44px;
  }
}

@media all and (min-width: 768px) {
  .popup--error {
    width: 400px;
    padding: 50px 0 49px 0;
  }
}
@media all and (min-width: 768px) {
  .popup--error .popup__title {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    line-height: 40px;
  }
}
.popup--error .description {
  margin-bottom: 28px;
}
@media all and (min-width: 768px) {
  .popup--error .description {
    width: 307px;
    margin-bottom: 40px;
  }
}

.popup--error .button {
  width: 180px;
}
@media all and (min-width: 768px) {
  .popup--error .button {
    width: 272px;
  }
}

@media all and (min-width: 768px) {
  .popup--sent {
    width: 640px;
    padding-top: 63px;
  }
}
.popup--sent .description {
  margin-bottom: 43px;
}
@media all and (min-width: 768px) {
  .popup--sent .description {
    width: 412px;
  }
}

.popup--sent .button {
  width: 280px;
}
/*# sourceMappingURL=style.css.map */